
{% load browserid %}

<html>
<head>
	{% browserid_css %}
</head>
	<body>
	{% browserid_info %}
	<header>
		<h1>Söker du jobb?</h1>
		<div class="authentication">
			{% if not user.is_authenticated %}
				{% browserid_login text='Logga in eller skapa användare' color='dark' %}
			{% endif %}
		</div>
	</header>
	<article>
			<p>Måste du söka ett visst antal jobb per vecka?<br />
			Vi gör det enkelt att söka flera jobb i taget, och snabbt få besked.
			<br />
			Sök idag!
			</p>
			<form action="{% url 'af:candidate' %}" method="post">
				{% csrf_token %}
				{{ user_form.as_p }}
				{{ job_form.as_p }}
				{% if user.is_authenticated %}
					<input type="submit" value="Sök Jobb" />
				{% endif %}
			</form>

		{% if user.is_authenticated %}
			{% browserid_logout text='Logga Ut' %}
		{% endif %}
	</article>
	<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
	{% browserid_js %}
	</body>
</html>
