
{% load browserid %}

<html>
<head>
	{% browserid_css %}
</head>
	<body>
	{% browserid_info %}
	<header>
	</header>
	<article>
		{% if user.is_authenticated %}
		<h1>Din profil</h1>
		<table>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Volonteer</th>
				<th>CV</th>
			</tr>
			<tr>
				<td>{{ my_user.name }}</td>
				<td>{{ my_user.email }}</td>
				<td>{{ my_user.volonteer }}</td>
				<td>{{ my_user.cv }}</td>
			</tr>
		</table>
	
		<h1>Dina sökta jobb</h1>
			{% browserid_logout text='Logga Ut' %}
		{% endif %}
	</article>
	<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
	{% browserid_js %}
	</body>
</html>
